[Unit]
Description=Mount unit for powershell, revision 34
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/powershell_34.snap
Where=/snap/powershell/34
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
